

.clock {
    width: auto;
    margin: 10px auto;
    color: #fff;
}

.light{
    font-size: 25px;
    font-family:  Arial, Helvetica, sans-serif;
    text-shadow: 0 0 5px #00c6ff;
}

.no_antri{
    font-size: 30px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0 0 5px #00c6ff;
}

marquee{
    font-size: 30px;
    text-align: center;
    font-family:  Arial, Helvetica, sans-serif;
    text-shadow: 0 0 5px #00c6ff;
    color: white;
}

#Date {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-align: center;
    text-shadow: 0 0 5px #00c6ff;
}
#judul {
    font-family:  Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
    text-shadow: 0 0 5px #00c6ff;
}

ul {
    width: auto;
    margin: 0 auto;
    padding: 0px;
    list-style: none;
    text-align: center;
}

ul li {
    display: inline;
    font-size: 20px;
    text-align: center;
    font-family:  Arial, Helvetica, sans-serif;
    text-shadow: 0 0 5px #00c6ff;
}

#point {
    position: relative;
    -moz-animation: mymove 1s ease infinite;
    -webkit-animation: mymove 1s ease infinite;
    padding-left: 5px;
    padding-right: 5px;
}

/* Simple Animation */
@-webkit-keyframes mymove {
    0% {opacity: 1.0;
    text-shadow: 0 0 20px #00c6ff;
}

50% {
    opacity: 0;
    text-shadow: none;
}

100% {
    opacity: 1.0;
    text-shadow: 0 0 20px #00c6ff;
}   
}

@-moz-keyframes mymove {
    0% {
        opacity: 1.0;
        text-shadow: 0 0 20px #00c6ff;
    }

    50% {
        opacity: 0;
        text-shadow: none;
    }

    100% {
        opacity: 1.0;
        text-shadow: 0 0 20px #00c6ff;
    };
}